In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
#importing all the datasets
ass = pd.read_csv("ass.csv")
cum = pd.read_csv("cum.csv")
dick = pd.read_csv("dick.csv")
faggot = pd.read_csv("faggot.csv")
fuck = pd.read_csv("fuck.csv")
whore = pd.read_csv("whore.csv")
nigger = pd.read_csv("nigger.csv")
normal = pd.read_csv("normal.csv")
tits = pd.read_csv("tits.csv")
pussy = pd.read_csv("pussy.csv")

In [5]:
#Labelling The Data

def add_label(dataframe,label_value):
    dataframe["Label"] = label_value

for df in [ass,cum,dick,fuck,tits,pussy]:
    add_label(df,1)

for df in [nigger, faggot, whore]:
    add_label(df,0)

add_label(normal,2)

In [8]:
dick.head()

,Datetime,Tweet Id,Text,Username,Label
0,2023-04-16 10:10:35,1647543000632033280,"@melissa22tx I love to play with your bigger ,...",DNaiksatam,1
1,2023-04-16 10:10:33,1647542991660171266,Can we start making Saka level dick riding abo...,McCarthinho,1
2,2023-04-16 10:10:33,1647542991538601984,I just b trynna catch a vibe &amp; niggas be t...,GorgeousTrina1,1
3,2023-04-16 10:10:32,1647542986727620608,"Tom, you world-historical dick. Blaming your o...",portraitinflesh,1
4,2023-04-16 10:10:31,1647542983871594497,gonna try to get my dick sucked at Silent Hill,Tyrant_Rat,1

In [13]:
#cleaning the data
ass = ass[ass["Text"].str.contains("ass")]
dick = dick[dick["Text"].str.contains("dick")]
pussy = pussy[pussy["Text"].str.contains("pussy")]
tits= tits[tits["Text"].str.contains("tits")]
fuck = fuck[fuck["Text"].str.contains("fuck")]
cum = cum[cum["Text"].str.contains("cum")]
faggot = faggot[faggot["Text"].str.contains("faggot")]
nigger = nigger[nigger["Text"].str.contains("nigger")]
whore = whore[whore["Text"].str.contains("whore")]

0     @JenniferCandoli I cant believe there is still...
1     @QueenBinta01 @SilviaKaminda2 Tufiakwa....khos...
2     Kelcey always got on some sneakers I never see...
3     I just experienced the most traumatizing shit ...
4     even w/o the abhorant ass, dawg's desing is ab...
5                                           Yes big ass
6     @ShiftingGunncr Oh he could feel the prod agai...
7     @Valkyrieprops @DavidPTeague @edendally @rawsa...
8     @worIdlyinsight However this tier list is lite...
9     This is book Alicent a grown ass woman bullyin...
10            City boys win when Kunt ass get pregnantüòÇ
11    I love seeing wholesome ass videos of people a...
12    One of the advantages of learning korean is wh...
13    ask aries why her ass lied abt the age gap and...
14    Blame the weak, left-wing liberal hypocritical...
15    @NuTyrant This tweet is not for girls with sma...
16    Quick doodle for @NiceWigg one of the nicest p...
17    oh, i owned his ass and didn't even realise......
18    Funny how the single moms I was ‚ÄúTalking to‚Äù o...
19    @zksync your discord authenticator @guildxyz i...
Name: Text, dtype: object

In [14]:
#cancatenating the datasets
df = pd.concat([ass,cum,dick,faggot,fuck,whore,nigger,normal,tits,pussy])
df.shape

#shuffle the dataframe
df = df.sample(frac=1)
df.head()

,Datetime,Tweet Id,Text,Username,Label
72,2023-04-16 10:13:52,1647543824309182464,Guys be confident üòÇ with our fantastic form vs...,Linfield18862,1
3726,2023-04-16 10:28:08,1647547417661779969,@Shaniel_Dannon @elliot_landolt And it‚Äôs new @...,Sdevorefl,2
4636,2023-04-16 10:28:05,1647547405108117504,@fridayy @asakemusik you that so many beautifu...,Nyesom1,2
2092,2023-04-16 10:28:14,1647547439593975808,"@thewire_in @majorgauravarya Sir, where is you...",PrinceGurjar44,2
1581,2023-04-16 10:28:15,1647547446623449090,I‚Äôm still not over this look üò≠,evaanjason,2

In [24]:
df.shape

(7196, 5)

In [15]:
df.isna().sum()

Datetime    0
Tweet Id    0
Text        0
Username    0
Label       0
dtype: int64

In [16]:
X = df.Text
X

72      Guys be confident üòÇ with our fantastic form vs...
3726    @Shaniel_Dannon @elliot_landolt And it‚Äôs new @...
4636    @fridayy @asakemusik you that so many beautifu...
2092    @thewire_in @majorgauravarya Sir, where is you...
1581                       I‚Äôm still not over this look üò≠
                              ...
2444                                           relateable
2024    Quinlan Wood Annabelle Sally Rosanne https://t...
18                          Big pussy energy ! Oui madame
1105    @Hot_Wheels ready to see some hot wheels monst...
153     There's nothing more satisfying than calling s...
Name: Text, Length: 7196, dtype: object

In [18]:
df.head()

,Datetime,Tweet Id,Text,Username,Label
72,2023-04-16 10:13:52,1647543824309182464,Guys be confident üòÇ with our fantastic form vs...,Linfield18862,1
3726,2023-04-16 10:28:08,1647547417661779969,@Shaniel_Dannon @elliot_landolt And it‚Äôs new @...,Sdevorefl,2
4636,2023-04-16 10:28:05,1647547405108117504,@fridayy @asakemusik you that so many beautifu...,Nyesom1,2
2092,2023-04-16 10:28:14,1647547439593975808,"@thewire_in @majorgauravarya Sir, where is you...",PrinceGurjar44,2
1581,2023-04-16 10:28:15,1647547446623449090,I‚Äôm still not over this look üò≠,evaanjason,2

Now to create the classification model

In [20]:
from sklearn.model_selection import train_test_split as tts

X = df['Text']
y = df['Label']

iptrain, iptest, ytrain, ytest = tts(X,y,test_size=0.2,random_state=42)

In [21]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(stop_words='english')
Xtrain = cv.fit_transform(iptrain)
Xtest = cv.transform(iptest)

In [22]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC

def model(model_name):
    x = model_name()
    x.fit(Xtrain,ytrain)
    print(model_name," ")
    print("Train score: ", x.score(Xtrain,ytrain))
    print("Test score: ", x.score(Xtest,ytest))

model_list = [RandomForestClassifier, LogisticRegression, SVC]
for i in model_list:
    model(i)

<class 'sklearn.ensemble._forest.RandomForestClassifier'>
Train score:  1.0
Test score:  0.9902777777777778
<class 'sklearn.linear_model._logistic.LogisticRegression'>
Train score:  0.9939193884642112
Test score:  0.9868055555555556
<class 'sklearn.svm._classes.SVC'>
Train score:  0.9900972897845726
Test score:  0.9520833333333333

Random Forest Classifier gives the best overall accuracy

In [25]:
from sklearn.metrics import confusion_matrix
rf = RandomForestClassifier()
rf.fit(Xtrain,ytrain)
pred = rf.predict(Xtest)
cm = confusion_matrix(pred,ytest)
cm

array([[ 129,    0,    0],
       [   1,  294,    4],
       [   6,    4, 1002]], dtype=int64)

In [26]:
import pickle
with open('twitter_new.pkl','wb') as f:
    pickle.dump(cv,f)
    pickle.dump(rf,f)